<template>
	<div id="app">
		<div class="container-fluid">
      <h4 class="pt-5 ml-2 font-weight-bold text-primary">Examination Summary</h4>
			<p class="ml-2 text-muted">Here is the summary of the examination.</p>
			<div class="row justify-content-end ml-2 mr-2 mb-3 mt-5">
				<router-link to="/home/examination" class="btn btn-summary btn-primary" id="exam">Exam</router-link>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Section</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.section_id" @change="examsecChange($event)" id="section-select">
							<option class="mr-3" v-for="(sec, i) in section" :key="i" :value="sec.id">{{sec.section}}</option>
						</select>
          </div>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Semester</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.semester_id" @change="semyrChange($event)" id="section-select">
							<option class="mr-3" v-for="(sem, i) in semester" :key="i" :value="sem.id">{{sem.semester}}</option>
						</select>
          </div>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">School Year</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.school_year_id" @change="semyrChange($event)" id="section-select">
							<option class="mr-3" v-for="(schlyr, i) in schoolyr" :key="i" :value="schlyr.id">{{schlyr.school_year}}</option>
						</select>
          </div>
				</div>
			</div>
			<div class="row ml-2 mr-2 p-4 card">
        <div class="row justify-content-end">
					<div class="col-5 col-md-4 col-lg-3">
						<input type="text" v-model="search" id="searchbox" class="form-control mb-2" placeholder="Search Student"/>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<caption>Examination Records</caption>
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Full Name</th>
								<th scope="col">Gender</th>
								<th scope="col">Pre Test</th>
								<th scope="col">Midterm</th>
								<th scope="col">Finals</th>
								<th scope="col">Rating</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(e, i) in filterExamSummary" :key="i">
								<th scope="row">{{e.id}}</th>
								<td>{{e.last_name}}, {{e.first_name}} {{e.middle_name[0]}}.</td>
								<td>{{e.gender}}</td>
                <td>{{e.pretest}}</td>
                <td>{{e.midterm}}</td>
                <td>{{e.finals}}</td>
                <td>{{setRating(e.pretest, e.pretesttotal, e.midterm, e.midtermtotal, e.finals, e.finalstotal).toFixed(2)}}%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
	async mounted(){
		document.title = "Examination Summary"
		this.$store.dispatch('auth/checkUser');
		this.$store.dispatch('sem/getSchoolYear');
		this.$store.dispatch('sem/getSemester');
		this.data = this.default_data
		this.getExaminationSummary(this.data)
		this.getSections(this.data);
		this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
    })

	},
	data(){
		return {
			modalId: '',
			search: '',
			data: {
				semester_id: '',
				school_year_id: '',
				section_id: '',
			},
			isLoading: false,
		}
	},
	computed: {
		...mapState('student', ['section']),
		...mapState('sem', ['semester', 'schoolyr']),
		...mapState('examsummary', ['examsummary']),
		...mapGetters({
				default_data: 'sem/getDefaults'
		}),
		filterExamSummary() {
      return this.examsummary.filter((examsummary) => {
        return (
          examsummary.last_name.match(this.search) ||
          examsummary.first_name.match(this.search) ||
          examsummary.middle_name.match(this.search) ||
					examsummary.id.toString().match(this.search)
        );
      });
    },
	},
	methods: {
		...mapActions('student', ['getSections']),
		...mapActions('examsummary', ['getExaminationSummary']),
	
		examsecChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.getExaminationSummary(this.data)
		},
		semyrChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.getExaminationSummary(this.data)
			this.getSections(this.data);
		},
    setRating(pre, pretotal, mid, midtotal, final, finaltotal){
      let rating = 0;
      if(pretotal == 0){
        rating = ( ((( mid / midtotal ) * 100) + (( final / finaltotal)* 100)) / 3) * .40
      }
			else if(pretotal == 0 && midtotal == 0){
				rating = ( ((( final / finaltotal)* 100)) / 3) * .40
			}
      else if(midtotal == 0){
        rating = ( (((pre / pretotal) * 100) + (( final / finaltotal)* 100)) / 3) * .40
      }
      else if(finaltotal == 0){
        rating = ( (((pre / pretotal) * 100) + (( mid / midtotal)* 100)) / 3) * .40
      }
      else if(midtotal == 0 && finaltotal == 0){
        rating = ( (((pre / pretotal) * 100)) / 3) * .40
      }
      else {
        rating = ( (((pre / pretotal) * 100) + (( mid / midtotal ) * 100) + (( final / finaltotal)* 100)) / 3) * .40
      }

      return rating
    }
	}
}
</script>
