<template>
  <div id="app">
    <div class="hero-bg">
      <div class="container h-100 w-100">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="circle"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <p><span class="error">404</span><span class="notfound">Not Found</span></p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  
}
</script>