<template>
	<div id="app">
		<div class="container-fluid">
      <h4 class="pt-5 ml-2 font-weight-bold text-primary">Attendance Record</h4>
			<p class="ml-2 text-muted">Attendance record of your students.</p>
			<div class="row justify-content-end mr-1 mb-3">
				<router-link to="/attendance/summary" class="btn btn-summary btn-primary" id="viewsummary">Summary</router-link>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Select date</p>
					<input type="date" id="searchbox" v-model="date" @change="datesecChange($event)" class="form-control mb-2" placeholder="Search Student"/>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Select section</p>
					<select class="custom-select" v-model="data.section_id" @change="datesecChange($event)" id="section-select">
						<option class="mr-3" v-for="(sec, i) in section" :key="i" :value="sec.id">{{sec.section}}</option>
					</select>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Semester</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.semester_id" @change="semyrChange($event)" id="section-select">
							<option class="mr-3" v-for="(sem, i) in semester" :key="i" :value="sem.id">{{sem.semester}}</option>
						</select>
          </div>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">School Year</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.school_year_id" @change="semyrChange($event)" id="section-select">
							<option class="mr-3" v-for="(schlyr, i) in schoolyr" :key="i" :value="schlyr.id">{{schlyr.school_year}}</option>
						</select>
          </div>
				</div>
			</div>
			<div class="row ml-2 mr-2 p-4 mb-4 card">
				<div class="row justify-content-end">
					<div class="col-5 col-md-4 col-lg-3">
						<input type="text" v-model="search" id="searchbox" class="form-control mb-2" placeholder="Search Student"/>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<caption>List of students</caption>
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">First Name</th>
								<th scope="col">Middle Name</th>
								<th scope="col">Last Name</th>
								<th scope="col">Gender</th>
								<!-- <th scope="col">Section</th> -->
								<!-- <th scope="col">Component</th> -->
								<th scope="col">Status</th>
								<th scope="col">Mark as</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(stud, i) in filterAttendance" :key="i">
								<th scope="row">{{stud.id}}</th>
								<td>{{stud.first_name}}</td>
								<td>{{stud.middle_name}}</td>
								<td>{{stud.last_name}}</td>
								<td>{{stud.gender}}</td>
								<!-- <td>{{stud.section.section}}</td> -->
								<!-- <td>{{stud.component.component}}</td> -->
								<td v-if="stud.status == 'Present'">
									✔️
								</td>
								<td v-else-if="stud.status == 'Absent'">
									❌
								</td>
								<td v-else>
									
								</td>
								<td>
									<button class="btn btn-sm btn-success mr-2" v-on:click.prevent="id = stud.id; data = {...stud}; setStatus('Present')" :disabled="isLoading">Present</button>
									<button class="btn btn-sm btn-danger" v-on:click.prevent="id = stud.id; data = {...stud}; setStatus('Absent')" :disabled="isLoading">Absent</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
	async mounted(){
		document.title = "Attendance Monitoring"
		this.$store.dispatch('auth/checkUser');
		this.$store.dispatch('sem/getSchoolYear');
		this.$store.dispatch('sem/getSemester');
		this.data = this.default_data
		this.getSections(this.data);
		this.getAttendance(this.data);
		this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
    })

	},
	data(){
		return {
			modalId: '',
			search: '',
			date: '',
			data: {
				section_id: '',
				semester_id: '',
				school_year_id: '',
			},
			id: '',
			isLoading: false,
		}
	},
	computed: {
		...mapState('attendance', ['attendance']),
		...mapState('student', ['section']),
		...mapState('sem', ['semester', 'schoolyr']),
		...mapGetters({
			default_data: 'sem/getDefaults'
		}),

		filterAttendance() {
      return this.attendance.filter((attendance) => {
        return (
          attendance.last_name.match(this.search) ||
          attendance.first_name.match(this.search) ||
          attendance.middle_name.match(this.search) ||
					attendance.id.toString().match(this.search)
        );
      });
    },
	},
	methods: {
		...mapActions('attendance', ['getAttendance', 'updateAttendance']),
		...mapActions('student', ['getSections']),

		datesecChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.getAttendance(this.setData());
		},
		semyrChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.getAttendance(this.setData());
			this.getSections(this.data);
		},
		async setStatus(status){
			if(this.date.trim() == '')
				return this.$toast.error('Please select a date');

			this.isLoading = true

			let attendance = {
				student_id: this.data.id,
				section_id: this.data.section_id,
				date: this.date,
				status: status,
				semester_id: this.data.semester_id,
				school_year_id: this.data.school_year_id
			}

			const res = await this.updateAttendance({id: this.id, data: attendance})
			if(res.status == 200){
				this.getAttendance(this.setData());
				this.isLoading = false
			}
			else{
				this.isLoading = false
			}
		},
		setData(){
			let attendance = {
				student_id: this.data.id,
				date: this.date,
				section_id: this.data.section_id,
				semester_id: this.data.semester_id,
				school_year_id: this.data.school_year_id
			}
			return attendance;
		}
		
	}
}
</script>

