<template>
  <div class="container-fluid p-0" style="height: 100vh">
    <div class="hero-bg">
      <div class="row h-100 w-100 justify-content-center align-items-center m-0">
        <div class="circle"></div>
        <div class="gradient-circle"></div>
        <div class="gradient-circle-small"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <img src="@/assets/images/logo.png" class="img-fluid img-logo">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <h1 class="text-light font-weight-bold pl-8">NSTP Students <br/> Performance Monitoring <br/> System</h1>
          <h6 class="text-light pt-2 pl-8">Monitor the performance of your students  <br/> easily and keep track of those <br/> who  needs your help.</h6>
          <router-link to="/"><button class="btn-glass mt-2 ml-8 ">Home Page</button></router-link>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 h-100">
          <div class="signup-container mr-4">
            <form ref="signup">
              <h3 class="text-dark text-center mt-4">Welcome, User!</h3>
              <p class="text-center text-dark">All fields are required. Please fill-up to proceed</p>
              <div v-if="!next">
                <div class="mb-1 mt-4">
                  <label for="email" class="form-label text-dark">Email address</label>
                  <input type="text"  v-model="data.email" class="custom-input" id="email" placeholder="sample_email@gmail.com" required>
                </div>
                <div class="mb-1">
                  <label for="password" class="form-label text-dark">Password</label>
                  <input type="password" v-model="data.password" class="custom-input" id="password" placeholder="*****" required>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label text-dark">Confirm Password</label>
                  <input type="password" v-model="data.confirm" class="custom-input" id="confirmpassword" placeholder="*****" required>
                </div>
                <div class="mb-3">
                  <label for="gender">Gender</label>
                  <select class="custom-select" id="gender" v-model="data.gender">
                    <option class="mr-3" value="Male">Male</option>
                    <option class="mr-3" value="Female">Female</option>
                  </select>
                </div>
                <div class="pt-3 pb-3">
                  <button class="btn btn-sm btn-success text-light" v-on:click.prevent="nextProcess">Proceed</button>
                </div>
              </div>
              <div v-else>
                <div class="mb-1 mt-4">
                  <label for="firstname" class="form-label text-dark">First Name</label>
                  <input type="text"  v-model="data.first_name" class="custom-input" id="firstname" placeholder="" required>
                </div>
                <div class="mb-1">
                  <label for="middlename" class="form-label text-dark">Middle Name</label>
                  <input type="text" v-model="data.middle_name" class="custom-input" id="middlename" placeholder="" required>
                </div>
                <div class="mb-1">
                  <label for="lastname" class="form-label text-dark">Last Name</label>
                  <input type="text" v-model="data.last_name" class="custom-input" id="lastname" placeholder="" required>
                </div>
                <div class="mb-3">
                  <label for="component" class="form-label text-dark">Component</label>
                  <select class="custom-select" v-model="data.component_id" id="component">
                    <option disabled>Please select a component</option>
                    <option class="mr-3" v-for="(c, i) in component" :key="i" :value="c.id">{{c.component}}</option>
                  </select>
                </div>
                <div class="pt-3 pb-3">
                  <button class="btn btn-sm btn-secondary mr-2" v-on:click.prevent="next = false">Previous</button>
                  <button class="btn btn-sm btn-success" v-on:click.prevent="createAccount" :disabled="isLoading">Sign-up</button>
                </div>
              </div>
                <p><small>Already have an account?<router-link class="text-primary" to="/login"> Sign-in</router-link></small></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
export default {
  data(){
    return {
      data: {email: '', password: '', confirm: '', gender: '', first_name: '', middle_name: '', last_name: '', component_id: ''},
      next: false,
      isValidated: false,
      isLoading: false,
    }
  },
  mounted() {
     document.title = "Sign-up for an Account"
     this.getComponents()
  },
  computed: {
    ...mapState('component', ['component'])
  },
  methods: {
    ...mapActions('component', ['getComponents']),
    ...mapActions('user', ['createInstructor', 'signUpUser']),
    nextProcess(){
      this.next = true
    },
    async createAccount(){
      
      this.validateFields();

      this.isLoading = true

      let instructor = {
        first_name: this.data.first_name,
        middle_name: this.data.middle_name,
        last_name: this.data.last_name,
        component_id: this.data.component_id,
        gender: this.data.gender
      }


      if(this.isValidated){
        const res = await this.createInstructor(instructor);
        
        let userdata = {
          email: this.data.email,
          password: this.data.password,
          instructor_id: res.data.id,
        }

        if(res.status == 200){
          const acc = await this.signUpUser(userdata);
          if(acc.status == 200){
            this.isLoading = false
            this.$refs.signup.reset();
            this.$toast.success('Account created successfully!');
            this.clearFields()
          }
        }

      }
      else{
        this.isLoading = false
      }
    },
    validateFields() {
      this.isValidated = false
      this.isLoading = true
      if(!this.isEmail()){
        this.next = false
        return this.$toast.error('A valid email is required')
      }
      if(this.data.email.trim() == ''){
        this.next = false
        return this.$toast.error('Email is required')
      }
      if(this.data.password.trim() == ''){
        this.next = false
        return this.$toast.error('Password is required')
      }
      if(this.data.gender == ''){
        this.next = false
        return this.$toast.error('Gender is required')
      }
      if(this.data.confirm.trim() == '')
        return this.$toast.error('Please confirm your password')
      if(this.data.first_name.trim() == '')
        return this.$toast.error('First Name is required')
      if(this.data.middle_name.trim() == '')
        return this.$toast.error('Middle Name is required')
      if(this.data.last_name.trim() == '')
        return this.$toast.error('Last Name is required')
      if(this.data.component_id == '')
        return this.$toast.error('Component is required')
      
      this.isValidated = true
      this.isLoading = false
    },
    isEmail(){
      let regEx = /^([a-z0-9_\-.])+@([a-z0-9_\-.])+\.([a-z0-9]{2,})$/gi
      let isEmail = regEx.test(this.data.email)
      return isEmail
    },
    clearFields() {
      this.data  =  { email: '', password: '', confirm: '', first_name: '', middle_name: '', last_name: ''}
    },

  }
}
</script>